name: Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        arch: [linux-x64, linux-arm64, windows-x64, darwin-x64, darwin-arm64]
        target: [yosys, nextpnr-generic, nextpnr-ice40, nextpnr-ecp5]

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache sources
        uses: actions/cache@v4
        with:
          path: oss-cad-suite-build/_sources
          key: cache-sources-${{ matrix.target }}

      - name: Cache build outputs
        uses: actions/cache@v4
        with:
          path: oss-cad-suite-build/_outputs
          key: cache-outputs-${{ matrix.target }}-${{ matrix.arch }}

      - name: Inject targets
        run: cp -r edacation oss-cad-suite-build/

      - name: Build
        run: |
          cd oss-cad-suite-build/
          ./builder.py build --rules=default,edacation --arch=${{ matrix.arch }} --target=${{ matrix.target }}-full

      # Needs to be tar'd because uploaded artifact files do not retain permissions
      - name: Tar build output
        run: tar -C oss-cad-suite-build/_outputs/${{ matrix.arch }}/${{ matrix.target }}-full/${{ matrix.target }}-full -czvf ${{ matrix.arch }}-${{ matrix.target }}.tgz .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.arch }}-${{ matrix.target }}
          path: ${{ matrix.arch }}-${{ matrix.target }}.tgz

  package:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      # Will download all previous artifacts and place them in individual dirs
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: _tools/
          merge-multiple: true

      - name: Extract artifacts
        run: |
          cd _tools/
          for file in *.tgz; do
            echo "Extracting ${file}..."
            tar -xzf "$file" --one-top-level
            rm "$file"
          done

      - name: List files
        run: find  _tools/

      - name: Package tools
        run: ./package.py --in-dir=_tools/ --out-dir=_outputs/ --report tools.json

      - name: Get release version
        id: version
        run: echo "version=$(cat report.json | jq -r '.version')" >> $GITHUB_OUTPUT

      - name: Release tools
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          files: |
            _outputs/*
            tools.json
